@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;

}

.nav, .footer{
  background-color: rgb(17 24 39);
  display:flex;
  justify-content:space-between;
  align-items:center;
    color:white;
    width:100vw;
    height:10vh;  
    font-family: sans-serif; 
}
.text{
  font-size:1.25rem;
  margin-left:1rem;
 font-weight: 900;
 margin-bottom: 1rem ;
}
 a{
  text-decoration:none;
  color:white;
  margin-right:2rem;
  font-size:1rem;
  padding: 0.5rem;

}
.center{
  display:flex;
  /* align-items: center; */
  justify-content: center;
  background-color:#09090b;
  
  height:130vh;
  width:100vw;
  padding-top:.3rem;
}
.box{

color:white;
border:1px solid white;
height:65%;
width:50%;
border-radius: 10px;
padding-bottom: 1%;


}
.top{
  border-radius: 10px 10px 0px 0px;
  font-size: 1.5rem;
  font-weight:bold;
  color:#9CA3AF;
  background-color: #1F2937;
  width:100%; 
  height:10%;
  display:flex;
  
}
.text{
  margin-top:1rem;
  margin-left:1.5rem;
  font-size:1.5rem;
  font-weight: bold;
   
}
.data{
  /* margin-top:1rem; */
  margin-left: 5%;
  
}
label{
  display:block;
  padding:1.5rem;
  color:#9CA3AF;
  font-size:1.5rem;
  font-weight: bold;
}
.data input, .data select{
  width:80%;
  margin-left:5%;
  margin-right:5%;
  background-color: #1F2937;
  color:white;
  font-weight:bold;
  padding: .8rem 0.75rem;
}
.data select{
  width:85%;
}
#button{
  margin-left:5%;
  margin-right:5%;
  display: block;
  width:85%;
  font-size:1rem;
  background-color: #1F2937;
  color:white;
  font-weight:bold;
  padding:0.8rem 0.75rem;
  margin-top:2rem;
  border:none;
  cursor:pointer;
}
.blank{
  height:100vh;
  width:100vw;
  background-color: #09090b;
}
a:hover, button:hover{
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size:2rem;

}
.year{
  width:100vw;
  display:flex;
  justify-content:end;
  align-items:center;
  height:10vh;
  background-color:#09090b;
}
.year select{
  margin-right:3rem;
  margin-top:1rem;
  width:15%;
  height:50%;
  font-size:1.8rem;
  background-color: #1F2937;
  color:white;
}
.choose{
  width:100wh;
  background-color:#09090b;
  display:block;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height:150vh;
 padding-top:10%;
 padding-left: 2px;
}
.choose label{
  font-size:2rem;
  font-weight:bold;
  font-weight:bold;
  color:#9CA3AF;
  
}
.choose select{
  /* align-self: center; */
  margin-left:3%;
  text-align: center;
  width:80%;
  padding:1.2rem;
  font-size:2rem;
  background-color: #1F2937;
  color:white;
}
.choose input{
  margin-top:5%;
  align-self: center;
  margin-left:3%;
  text-align: center;
  width:50%;
  padding:1.2rem;
  font-size:2rem;
  background-color: #1F2937;
  color:white;
  margin-bottom: 18%;
}

.select_options{
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #09090b;
  align-items: center;
  justify-content: space-evenly;
  
}
.each_option{
  width: 50rem;
  height: 2rem;
}

/* .stepper{
   background-color: #09090B;
   color: white;
   display: flex;
   /* align-items: center; */
   /* justify-content: center; 
   
  } */
  .step-small{
    background-color: green;
    padding: 10px;
    text-align: center;
    font-size: 90px;
    margin-top:10px;
    border-radius: 50%;
    width: 100px;
    border: solid white 4px;
} */




.choose select{
 text-align: left; 
}




.stepper-container {
  background-color: #09090B;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding:30px;
}

.stepper {
  display: flex;
  align-items: center;
}
.step {
  width: 90px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.step.active {
  background-color: green;
}

.line {
  width: 490px;
  height: 5px;
  background-color: gray;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.line.green {
  background-color: green;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: none; /* Standard */
}